.cnt {
  background-color: var(--bg-white);
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px var(--shadow-2);
  border-radius: 14px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head_left {
  width: 46px;
  height: 46px;
  border-radius: 100px;
}

.head_right {
  width: calc(100% - 54px);

  height: 46px;
}

.content {
  margin: 12px 0px;
}

.content_item {
  width: 100%;
  height: 14px;
  margin-bottom: 4px;

}

.grid_img {
  width: 100%;
  aspect-ratio: 3 / 2;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.grid>div:nth-child(1) {
  grid-area: 1 / 1 / 4 / 3;
}

.grid>div:nth-child(2) {
  grid-area: 4 / 1 / 7 / 3;
}

.grid>div:nth-child(3) {
  grid-area: 1 / 3 / 3 / 5;
}

.grid>div:nth-child(4) {
  grid-area: 3 / 3 / 5 / 5;
}

.grid>div:nth-child(5) {
  grid-area: 5 / 3 / 7 / 5;
}