.clipping-container {
  position: relative;
  border: 1px solid #aaa;
  margin-bottom: 12px;
  padding: 12px;
  width: 250px;
  height: 80px;
  overflow: hidden;
}

.modal {
  position:  fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;left: 0;right: 0;bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content{
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-deal-btn{
  border-radius: 100px;
  background-color: #fff;
  position: absolute;
  right: -15px;
  top: -15px;
  overflow: hidden;
  padding: 8px;
  z-index: 3;
}
.lootie{
  position: absolute;
  left: -30%;
  top: -15%;
  width: 100%;
  height: max-content;
}
.lootie2{
  position: absolute;
  right: -30%;
  top: -15%;
  width: 100%;
  height: max-content;
}
.portal-deal-img{
  z-index: 2;
}