.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.video_cnt {
    width: 60%;
    height: 100%;
    position: relative;
}

.video_thumbnail {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(9px);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.trend_cnt {
    width: 40%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trend_org {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trend_org_avatar {
    width: 48px;
    height: 48px;
    background-color: var(--bg-color);
    border-radius: 100%;
    position: relative;
}

.trend_org_avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 200%;
    z-index: 1;
    object-fit: cover;
}

.org_detail {
    width: calc(100% - 56px);
}

.org_detail_name {
    display: flex;
    flex-direction: column;
}

.org_detail_name span:nth-child(1) {
    font-size: 14px;
    font-weight: 600;
}

.org_detail_name span:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}

.trend_content {
    margin-top: 4px;
}

.trend_content_desc {
    font-size: 13px;
    font-weight: 400;
}

.trend_content_services {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
}

.service_item {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    margin: 1px;
    padding: 2px 6px 2px 2px;
    border-radius: 12px;
    transition: var(--trans);
}

.service_item:hover {
    background-color: var(--bg-color);
    transition: var(--trans);
}

.service_item div {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.trend_interactive {
    margin: 4px 0px;
    display: flex;
}

.interactive_item {
    display: flex;
    align-items: center;
    margin-right: 12px;
    font-size: 13px;
    font-weight: 600;
}

.interactive_item button {
    padding: 0px;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    background-color: var(--bg-color);
}

.trend_cmt_cnt {
    height: calc(100% - 188px);
    overflow-y: scroll;
}

.cmt_box {
    height: max-content;
}

.comment_ctn {
    padding: 0px 0px 100px 0px !important;
}

.comment_input_cnt {
    position: absolute;
    background-color: var(--white);
    z-index: 10;
    bottom: 0;
    width: 100%;
    width: 38%;
}

.comment_input_cnt>div {
    align-items: flex-end;
}

.comment_input_cnt>div>div:nth-child(1)>div {
    width: 34px;
    height: 34px;
    margin-bottom: 4px;
}

.comment_input_cnt>div>div:nth-child(2)> {
    width: calc(100% - 44px);
}

.comment_input_cnt>div>div {
    display: flex;
    flex-direction: column-reverse;
}

.comment_input_cnt>div>div:nth-child(2)>div:nth-child(2)>div {
    grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1023px) {
    .container{
        flex-direction: column;
        justify-content: unset;
    }
    .video_cnt{
        width: 100%;
        height: 33vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 11;
    }
    .trend_cnt{
        padding-top: 33vh;
        width: 100%;
    }
    .trend_cmt_cnt{
        height: max-content;
        overflow-y: unset;
        padding-bottom: 100px;
    }
    .comment_input_cnt_mb{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 11;
        background-color: var(--white);
        padding: 12px 8px 20px !important;
        border-radius: 12px 12px 0 0;
        box-shadow: 0 -3px 20px rgba(113,97,186,.15);
    }
    .comment_input_cnt_mb>div>div:nth-child(1)>div {
        margin-bottom: 6px;
    }
    .comment_input_cnt_mb > div{
        align-items: flex-end;
    }
    .comment_input_cnt_mb>div>div {
        display: flex;
        flex-direction: column-reverse;
    }
    .comment_input_cnt_mb>div>div:nth-child(2)>div:nth-child(2)>div {
        grid-template-columns: repeat(4, 1fr);
    }
}