.discover {
    padding: 0;
}
.discover h2 {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
}
.discover__wrap {
    display: flex;
    gap: 34px;
    justify-content: space-between;
    margin-top: 56px;
}
.discover__btn {
    padding: 8px 20px;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    border-radius: 100px;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.1s all linear;
}
.discover__btn.active,
.discover__btn:hover {
    background-color: var(--black-btn);
    color: var(--white-cl);
    transition: 0.1s all linear;
}
