.customer_wraper{
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 200;
  width: max-content;
  max-width: 600px;
}

.customer{
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 4px;
  gap: 4px;
  width: max-content;
  background-color: var(--purple);
  border-radius: 100px;
}
.customer_lootie{
  max-width: 350px;
  transform: translateY(70%);
  z-index: 50;
}
.customer_name{
  font-size: 10px;
  font-weight: bold;
  color: var(--white);
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.customer_name span {
  font-weight: bold;
}
.customer_name_close{
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: var(--white);
  border-radius: 100rem;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 1023.98px) {
  .customer_wraper{
    bottom: 90px;
    left: 12px;
    max-width: calc(100% - 74px);
    border-radius: 100%;
  }
  .customer{
    padding: 4px 6px 4px 4px;
    gap: 4px;
    background-color: var(--green);
    box-shadow: unset;
    width: unset;
  }
  .customer_name{
    font-size: 9px;
    font-weight: unset;
}
}
