.body {
  margin: 12px 0px;
  padding: 8px;
  background-color: var(--white);
}

.image_thumbnail {
  background-color: var(--bg-color);
  width: 100%;
  aspect-ratio: 2 / 1;
  position: relative;
}

.image_thumbnail img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}
.body_content p{
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.list {
  padding: 24px 0px;
  grid-gap: 12px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.list>a>div {
  box-shadow: none;
}

@media only screen and (max-width: 992px) and (min-width: 767px) {
  .body {
    margin-top: 44px;
  }
}

@media only screen and (max-width: 767px) {
  .body {
    margin-top: 44px;
  }
  .list{
    grid-template-columns: repeat(2, 1fr);
  }
}