/* card post item */
.post_item {
    background-color: var(--bg-white);
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px var(--shadow-2);
    border-radius: 14px;
}

.post_item_head {
    display: flex;
    justify-content: space-between;
}

.post_item_head_group {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 6px;
    background-color: var(--bg-color);
}

.post_item_head_group img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 6px;
    object-fit: cover;
}

.post_item_head_cnt {
    width: calc(100% - 54px);
}

.post_item_group_name {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.post_item_head_de,
.post_item_head_user {
    display: flex;
    align-items: center;
}

.user_avatar {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    object-fit: cover;
}

.user_name,
.post_create_at,
.post_group_cate {
    margin-left: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #8C8C8C;
}

.post_create_at {
    margin: 0px 12px;
}

.post_group_cate {
    margin: 0px;
}

.post_item_content {
    margin: 12px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.post_item_content a {
    margin-left: 2px;
    color: #8C8C8C;
    font-weight: 600;
}

.post_item_interactive {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.interactive_item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.interactive_item button {
    padding: 4px;
    background-color: transparent;
}

.interactive_item span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #8C8C8C;
}

/* end card post item */

/* post input */
.post_inp_cnt {
    width: 100%;
    border-radius: 8px;
    padding: 6px;
    box-shadow: var(--box-shadow);
}

.post_inp_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_inp_head_user {
    width: 44px;
    height: 44px;
    position: relative;
    border-radius: 100%;
    border: solid 1px var(--bg-color);
}

.post_inp_head_user img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 100%;
}

.post_inp_head_btn {
    width: calc(100% - 52px);
    height: 44px;
    cursor: pointer;
    padding: 0px 12px;
    border-radius: 8px;
    box-shadow: inset 0 2px 6px rgb(113 97 186 / 20%);
}

.post_inp_head_btn p {
    font-size: 16px;
    line-height: 44px;
    font-weight: 500;
    color: var(--text-hover);
}
/* end post input */
/* images */
.images_cnt {
    width: 100%;
    aspect-ratio: 3 / 2.5;
}

.parent_1 {
    width: 100%;
    height: 100%;
}

.parent_1 div {
    width: 100%;
    height: 100%;
}

.parent_2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.parent_2 div:nth-child(1) {
    grid-area: 1 / 1 / 5 / 3;
}

.parent_2 div:nth-child(2) {
    grid-area: 1 / 3 / 5 / 5;
}

.parent_3 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.parent_3 div:nth-child(1) {
    grid-area: 1 / 1 / 5 / 3;
}

.parent_3 div:nth-child(2) {
    grid-area: 1 / 3 / 3 / 5;
}

.parent_3 div:nth-child(3) {
    grid-area: 3 / 3 / 5 / 5;
}

.parent_4 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.parent_4 div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
}

.parent_4 div:nth-child(2) {
    grid-area: 1 / 3 / 3 / 5;
}

.parent_4 div:nth-child(3) {
    grid-area: 3 / 1 / 5 / 3;
}

.parent_4 div:nth-child(4) {
    grid-area: 3 / 3 / 5 / 5;
}

.parent_5 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.parent_5 div:nth-child(1) {
    grid-area: 1 / 1 / 4 / 3;
}

.parent_5 div:nth-child(2) {
    grid-area: 4 / 1 / 7 / 3;
}

.parent_5 div:nth-child(3) {
    grid-area: 1 / 3 / 3 / 5;
}

.parent_5 div:nth-child(4) {
    grid-area: 3 / 3 / 5 / 5;
}

.parent_5 div:nth-child(5) {
    grid-area: 5 / 3 / 7 / 5;
    position: relative;
}
.image_more{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.132);
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 38px;
    font-weight: 700;
}

.img_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_item{
    width: 100%;
    height: 100%;
}

/* end images */

@media only screen and (max-width: 1023px) {
    .post_item {
        padding: 12px;
        border-radius: unset;
        box-shadow: unset;
    }

    /* post input */
    .form_post_cnt {
        padding-top: 60px;
        width: 100%;
        min-height: 100%;
        opacity: unset;
    }

    .form_media_list_item {
        width: 33.33%;
        padding: 6px;
    }

}