.sign_check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.sign_check_forgot {
  color: var(--purple);
}

.form_submit_btn {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
.form_submit_btn button{
  width: 25%;
}