.title {
    color: var(--title-black-text);
    text-align: center;
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 36px */
    margin-bottom: 16px;
}
.advantage {
    padding: 24px 0 24px 0;
    max-width: 960px;
    margin: 0 auto;
}
.advantage__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    padding-top: 20px;
}
.advantage__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}
.advantage__item__img {
    width: 150px;
    height: 150px;
}
.advantage__item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantage__item__content {
    margin-top: 20px;
}
.advantage__item__content span {
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    color: var(--purple);
}
.advantage__item__content p {
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: var(--title-black-text);
    text-align: center;
}
.beautyx__care {
    margin-top: 16px;
}
